.single-meal {
    text-align: center;
    box-shadow: 8px;
    color: green;
    font-family: fantasy;
}

.single-meal img {
    width: 400px;
    height: 350px;
}

.ingredients {
    color: green;

}

