.btn {
    display: inline-block;
    color: rgb(250, 178, 69);
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
  
  }

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }